<apex:page controller="echosign_dev1.EchoSignAgreementAdvanced" >
    <apex:iframe src="{!strBaseURL}/salesforce-web/aboutEchoSign?namespace={!strNamespace}&session={!$Api.Session_ID}&server={!$Api.Partner_Server_URL_70}&organizationId={!$Organization.Id}" />
</apex:page>