<!-- 
    Apttus Contract Management
    AgreementRenew
     
    @2009-2014 Apttus Inc. All rights reserved.
	
	parameters
    ==========
    Name			     | Required | Description
    =====================|==========|======================================================================================
    id 				     | Yes      | The record id of the agreement
    					 |		    |
    autoSave	 		 | No	    | Indicates whether the renewal is saved automatically.  
    					 |		    | The default value is false. 
    					 |			|
    retId 			     | No       | The id of the record to navigate to after the action is completed
    				     |		    |
    ===================================================================================================================
    
 -->
<apex:page standardController="Apttus__APTS_Agreement__c" 
		   extensions="Apttus.AgreementRenewController" >
	
	<script language="Javascript">
    
        function SubmitOnClick (objSubmitBtn) {
             var isFirefox = typeof InstallTrigger !== 'undefined';
             var isChrome = !!window.chrome && !!window.chrome.webstore;
             
             if(isFirefox == true){
                 objSubmitBtn.className = 'btnDisabled';
             }
             else if(isChrome == true){
                 objSubmitBtn.disabled = true;
                 objSubmitBtn.className = 'btnDisabled';
                 doSubmit();
             }
             else{
                 objSubmitBtn.className = 'btnDisabled';
             }
            return true;
        }
        
    </script>
	
	<apex:form >	
	<!--  required fields -->
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Name}" rendered="false"/>
		
      	<apex:pageBlock rendered="{!NOT(isInitialized) && NOT(hasErrors)}">
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="{!$Label.apttus__continue}" onclick="return SubmitOnClick(this);" action="{!onLoad}" />
				<apex:commandButton value="{!$Label.apttus__cancel}" action="{!doCancel}" immediate="true" />
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection title="{!$Label.apttus__renewagreement}" columns="2" collapsible="false">
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Name}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__FF_Agreement_Number__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_Start_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_End_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status_Category__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Requestor__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.OwnerId}"/>
		    </apex:pageBlockSection>
		</apex:pageBlock>
		
		<apex:pageBlock mode="edit" rendered="{!hasErrors}" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom" >
				<apex:commandButton action="{!doCancel}" value="{!$Label.apttus__cancel}" immediate="true" />
			</apex:pageBlockButtons>
		</apex:pageBlock>
		
		<apex:actionFunction name="doSubmit" action="{!onLoad}" />
		
	</apex:form>
	
</apex:page>