<!-- 
    Apttus Contract Management
    AgreementCancel
     
    @2009-2014 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus__APTS_Agreement__c" 
		   extensions="Apttus.AgreementCancelController" >
	
	<script language="Javascript">
    
        function SubmitOnClick (objSubmitBtn) {
             var isFirefox = typeof InstallTrigger !== 'undefined';
             var isChrome = !!window.chrome && !!window.chrome.webstore;
             
             if(isFirefox == true){
                 objSubmitBtn.className = 'btnDisabled';
             }
             else if(isChrome == true){
                 objSubmitBtn.disabled = true;
                 objSubmitBtn.className = 'btnDisabled';
                 doSubmit();
             }
             else{
                 objSubmitBtn.className = 'btnDisabled';
             }
            return true;
        }
        
    </script>
	
	<apex:form >
		<!--  required fields -->
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Version_Number__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Status__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Status_Category__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__FF_Agreement_Number__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Contract_Start_Date__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Contract_End_Date__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Agreement_Number__c}" rendered="false"/>
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Apttus__Agreement_Category__c}" rendered="false"/>
		
		<apex:pageBlock rendered="{!NOT(isInitialized) && NOT(hasErrors)}">
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="{!$Label.apttus__continue}" onclick="return SubmitOnClick(this);" action="{!onLoad}" />
				<apex:commandButton value="{!$Label.apttus__cancel}" action="{!doCancel}" immediate="true" />
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection title="{!$Label.apttus__cancelagreement}" columns="2" collapsible="false">
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Name}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__FF_Agreement_Number__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_Start_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_End_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status_Category__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Requestor__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.OwnerId}"/>
		    </apex:pageBlockSection>
		</apex:pageBlock>
		
		<apex:pageBlock mode="edit" rendered="{!hasErrors}" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom" >
				<apex:commandButton action="{!doCancel}" value="{!$Label.apttus__cancel}" immediate="true"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
		
		<apex:actionFunction name="doSubmit" action="{!onLoad}" />
		
	</apex:form>
	
</apex:page>