<!-- 
    Apttus Contract Management
    AgreementTermExDelete2
     
    @2009-2010 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus__Agreement_Term_Exception__c"
		   extensions="Apttus.AgreementTermExDelete2Controller" 
		   showHeader="true" 
		   sidebar="true" 
		   tabStyle="Apttus__APTS_Agreement__c">
		   
    <apex:sectionHeader title="{!$Label.apttus__agreement}" />

	<apex:form >
		<!--  required fields -->
		<apex:outputText value="{!Apttus__Agreement_Term_Exception__c.Apttus__Approval_Status__c}" rendered="false"/>
		
      	<apex:pageBlock rendered="{!NOT(isInitialized) && NOT(hasErrors)}">
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="{!$Label.apttus__continue}" action="{!doDelete}" />
				<apex:commandButton value="{!$Label.apttus__cancel}" action="{!cancel}" immediate="true" />
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection title="{!$Label.apttus__deleteagreementtermexception}" columns="2" collapsible="false">
				<apex:outputField value="{!Apttus__Agreement_Term_Exception__c.Name}"/>
				<apex:outputField value="{!Apttus__Agreement_Term_Exception__c.Apttus__Exception__c}"/>
				<apex:outputField value="{!Apttus__Agreement_Term_Exception__c.Apttus__Description__c}"/>
				<apex:outputField value="{!Apttus__Agreement_Term_Exception__c.Apttus__Approval_Status__c}"/>
		    </apex:pageBlockSection>
		</apex:pageBlock>
		
		<apex:pageBlock title="{!$Label.apttus__pendingapprovaltermexceptions}" rendered="{!isInitialized}" >
			<apex:pageMessages />
			<apex:pageBlockButtons >
				<apex:commandButton id="cmdButtonDoCancel" 
									action="{!cancel}" 
									value="{!$Label.apttus__ok}" />
			</apex:pageBlockButtons>
		</apex:pageBlock>
		
	</apex:form>
	
</apex:page>