<apex:page docType="html-5.0" id="siteConfSponsorsPage" controller="evt.ConfSponsorsController" title="{!event.Name} Sponsors"   showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
<head><title>
    {!IF($Label.ConfSponsors_Heading == '-','Sponsors',SUBSTITUTE($Label.ConfSponsors_Heading,'{eventname}',event.Name))}
</title></head>
<apex:composition template="{!$Site.Template}">
<apex:define name="body">
<div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
<div class="pc_page"  id="evt_conf_sponsors_page">
  <div class="evt_page_content_top">
    <c:ConfTemplateNav event="{!event}"  currentTab="sponsors"  lang="{!lang}"/>
  </div>
  <div class="pc_page_content">
    <div class="pc_page_content_inner"> 
<apex:form >

<div id="evt_conf_sponsors_box">
<apex:outputPanel rendered="{!$Label.evt__confsponsors_heading <> '-'}">
    <h1>{!SUBSTITUTE($Label.evt__confsponsors_heading,'{eventname}',event.Name)}</h1>
</apex:outputPanel>

<apex:outputPanel rendered="{!NOT($Label.evt__confsponsors_message == '-')}">
<p>{!$Label.evt__confsponsors_message}</p>
</apex:outputPanel> 

    <div id="evt_conf_sponsor_flexbox">
    <apex:repeat value="{!sponsors}" var="sponsor"> 
        <div class="evt_sponsor_logo_box">
            <apex:outputPanel rendered="{!AND(NOT(ISBLANK(sponsor.evt__Image_Id__c)),ISBLANK(sponsor.evt__Image_URL__c))}" >
              <apex:outputLink value="{!sponsor.evt__Website__c}" target="_blank" disabled="{!ISNULL(sponsor.evt__Website__c)}">
                 <img class="evt_sponsor_logo"  src="{!URLFOR($Action.Attachment.Download,sponsor.evt__Image_Id__c)}" />
              </apex:outputLink>
            </apex:outputPanel>
 
            <apex:outputPanel rendered="{!NOT(ISBLANK(sponsor.evt__Image_URL__c))}" >
              <apex:outputLink value="{!sponsor.evt__Website__c}" target="_blank" disabled="{!ISNULL(sponsor.evt__Website__c)}">
                <img class="evt_sponsor_logo"  src="{!sponsor.evt__Image_URL__c}" />
              </apex:outputLink>
            </apex:outputPanel>
        </div>
    </apex:repeat>
    </div>

</div>

</apex:form>
    </div><!--  pc_page_content_inner -->
  </div><!--  pc_page_content -->
      </div><!--  pc_page -->
</div><!--  pc_lang -->  
</apex:define>
</apex:composition>
</apex:page>