<apex:page docType="html-5.0" id="siteSemDetailPage" controller="evt.SemDetailController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false">

<head><title>{!event.Name}</title>
<apex:outputPanel layout="none" rendered="{!event.evt__Show_Social_Links__c}">
<meta property="og:title" content="{!event.Name}" />
<meta property="og:description" content="{!event.evt__Short_Description__c}" />
<apex:outputPanel layout="none" rendered="{!AND(NOT(ISBLANK(event.evt__Image_Id__c)),ISBLANK(event.evt__Image_URL__c))}" >
<meta property="og:image" content="http://{!$Site.Domain}{!URLFOR($Action.Attachment.Download,event.evt__Image_ID__c,[retURL=''])}" />
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(event.evt__Image_URL__c))}" >
<meta property="og:image" content="{!event.evt__Image_URL__c}" />
</apex:outputPanel>
</apex:outputPanel>
</head>
<apex:composition template="{!$Site.Template}">
<apex:define name="body">

<script src="https://maps-api-ssl.google.com/maps/api/js?v=3&key={!googleMapsAPIKey}" type="text/javascript"></script>
<script type="text/javascript">
  var geocoder;
  var map;
  var query = "{!JSENCODE(SUBSTITUTE(event.evt__street__c & ',+' & event.evt__city__c & ',+' & event.evt__state__c & ',+' & event.evt__Postal_code__c & '+' & event.evt__Country__c,' ','+'))}";
//  var query = "{!URLENCODE(event.evt__city__c & ',' & event.evt__state__c )}";
  function initializeGMap() {
    geocoder = new google.maps.Geocoder();
    var myOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    codeAddress();
  }

  function codeAddress() {
    var address = query;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

function evt_addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

evt_addLoadEvent(initializeGMap);


</script>
<apex:outputPanel layout="none" rendered="{!event.evt__Show_Social_Links__c}">
<div id="fb-root"></div>
<script>(function(d, s, id) {
// Facebook social link script
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</apex:outputPanel>
<div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
<div class="pc_page" id="evt_sem_detail_page">
  <div class="evt_page_content_top">
    <c:SemTemplateNav event="{!event}"  currentTab="summary"  lang="{!lang}"/>
  </div>
  <div class="pc_page_content" >
    <div class="pc_page_content_inner">
<apex:form >
<apex:pageMessage rendered="{!soldOut}" severity="Info" strength="0" title="{!$Label.evt__text_soldout}"/>
<apex:pageMessage rendered="{!registrationClosed}" severity="Info" strength="0" title="{!$Label.evt__text_registrationclosed}"/>
<apex:pageMessages id="messages"/>
<apex:outputPanel styleClass="evt_wait_list_link" rendered="{!AND(soldOut, event.evt__Wait_List__c)}">
<apex:outputLink value="{!$Page.evt__SiteWaitList}?eid={!event.id}">Add your name to our wait list.</apex:outputLink>
</apex:outputPanel>

<apex:outputText value="{!event.evt__Landing_Page_HTML__c}" escape="false"/>



<div id="evt_semdetail_details_box" class="evt_page_box">
<div class="evt_box_header">
<apex:outputPanel layout="none" rendered="{!$Label.evt__semdetail_detailsheading <> '-'}">
    <h2>{!$Label.evt__semdetail_detailsheading}</h2>
</apex:outputPanel>
</div>
<div class="evt_box_body">

  <div class="evt_flex_two_columns" id="evt_seminar_details_flex_grid">
    <div class="flex_item_left">

      <div class="pc_flex_form" id="evt_sem_details_flex_form">

        <div class="pc_flex_form_line_container">
            <div class="pc_flex_form_label_item">
                <apex:outputText value="{!$Label.evt__label_when}"/>
            </div>
            <div class="pc_flex_form_required_flag_item">
                <apex:image url="/s.gif" />
            </div>
            <div class="pc_flex_form_field_item">
                <apex:outputPanel layout="none">
                <apex:outputPanel layout="inline" rendered="{!multiday}">
                    <apex:outputText value="{!startDate}"/>&nbsp;<apex:outputText value="{!startTime}"/>&nbsp;-&nbsp;<apex:outputText value="{!endDate}"/>&nbsp;<apex:outputText value="{!endTime}"/>
                </apex:outputPanel>
                <apex:outputPanel layout="inline" rendered="{!NOT(multiday)}">
                    <apex:outputText value="{!startDate}"/>&nbsp;<apex:outputText value="{!startTime}"/>&nbsp;-&nbsp;<apex:outputText value="{!endTime}"/>
                </apex:outputPanel>
                    <div class="evt_add_to_calendar_links">
                     <i class="fa fa-calendar-o"/>&nbsp;<apex:commandLink value="{!$Label.evt__label_addtocalendar}" action="{!toggleAddToCalendarLinks}" rerender="addToCalendarBox"/><br/>
                        <apex:outputPanel id="addToCalendarBox" >
                            <apex:outputPanel layout="none" rendered="{!showAddToCalendarLinks}">
                            <apex:panelGrid columns="2" id="addToCalendarGrid" styleClass="evt_add_to_calendar_links_grid">
                                <apex:outputPanel layout="none">
                                <i class="fa fa-plus-square-o"/>&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel layout="none">
                                <a href="{!$Site.currentSiteURL}evt__SiteAddEventToCal?id={!event.Id}&calType=iCal">{!$Label.evt__label_icalcalendar}</a>
                                </apex:outputPanel>
                                <apex:outputPanel layout="none">
                                <i class="fa fa-plus-square-o"/>&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel layout="none">
                                <a href="https://www.google.com/calendar/render?action=TEMPLATE&sprop=website:{!$Site.Domain}&text={!event.Name}&dates={!vCalStartStamp}/{!vCalEndStamp}&details={!URLENCODE(event.evt__Short_Description__c)}&location={!URLENCODE(event.Venue_Name__c)}&pli=1&sf=true&output=xml"  target="_blank">{!$Label.Label_GoogleCalendar}</a>
                                </apex:outputPanel>
                                <apex:outputPanel layout="none" rendered="false"><!--  yahoo calendar ignores the Z (gmt) timezone in the start time when adding events, disabled until yahoo fixes their app -->
                               <i class="fa fa-plus-square-o"/>&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel layout="none" rendered="false">
                                <a href="http://calendar.yahoo.com/?v=60&view=d&type=20&title={!URLENCODE(event.Name)}&st={!vCalStartStamp}&dur={!durationHHMM}&desc={!URLENCODE(event.Short_Description__c)}&url={!URLENCODE($Site.CurrentSiteURL)}+evt__Conf_Detail%3Fid%3D{!event.Id}&in_loc={!URLENCODE(event.Venue_Name__c)}"  target="_blank">{!$Label.Label_YahooCalendar}</a>
                                </apex:outputPanel>
                                <apex:outputPanel layout="none">
                               <i class="fa fa-plus-square-o"/>&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel layout="none">
                                <a href="{!$Site.currentSiteURL}evt__SiteAddEventToCal?id={!event.Id}&calType=outlook">{!$Label.evt__label_outlookcalendar}</a>
                                </apex:outputPanel>
                            </apex:panelGrid>


                            </apex:outputPanel>

                        </apex:outputPanel>

                    </div>
                </apex:outputPanel>
            </div>
        </div>

        <div class="pc_flex_form_line_container">
            <div class="pc_flex_form_label_item">
                <apex:outputText value="{!$Label.evt__label_where}"/>
            </div>
            <div class="pc_flex_form_required_flag_item">
                <apex:image url="/s.gif" />
            </div>
            <div class="pc_flex_form_field_item">
                <apex:outputPanel >
                    <apex:outputField value="{!event.evt__Venue_Name__c}" /><br/>
                    <apex:outputField value="{!event.evt__Street__c}" /><br/>
                    <apex:outputField value="{!event.evt__City__c}" />,&nbsp;
                    <apex:outputField value="{!event.evt__State__c}" />&nbsp;
                    <apex:outputField value="{!event.evt__Postal_Code__c}" />&nbsp;
                    <apex:outputField value="{!event.evt__Country__c}" />
                </apex:outputPanel>
            </div>
        </div>

        <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(event.evt__Venue_Notes__c))}">
        <div class="pc_flex_form_line_container">
            <div class="pc_flex_form_label_item">
                <apex:outputText value="" />
            </div>
            <div class="pc_flex_form_required_flag_item">
                <apex:image url="/s.gif" />
            </div>
            <div class="pc_flex_form_field_item">
             <apex:outputtext value="{!event.evt__Venue_Notes__c}" escape="false"/>
            </div>
        </div>
        </apex:outputPanel>

        <div class="pc_flex_form_line_container">
            <div class="pc_flex_form_label_item">
                <apex:outputText value="{!$Label.evt__label_availableseats}" rendered="{!event.evt__Show_Available_Seats__c == true}"/>
            </div>
            <div class="pc_flex_form_required_flag_item">
                <apex:image url="/s.gif" />
            </div>
            <div class="pc_flex_form_field_item">
                <apex:outputText value="{!availSeats}" rendered="{!event.evt__Show_Available_Seats__c == true}"/>
            </div>
        </div>


      </div><!-- end of flex form -->

    <apex:outputPanel id="buttons">
        <div class="pc_button_container">
          <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == false}">
            <apex:commandButton value="{!$Label.evt__label_register}" action="{!gotoRegistration}"  disabled="{!registrationClosed}"/>
          </apex:outputPanel>
          <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == true}">
            <apex:outputPanel rendered="{!NOT(registrationClosed)}">
              <apex:commandLink styleClass="css-button" value="{!$Label.evt__label_register}" action="{!gotoRegistration}" />
            </apex:outputPanel>
            <apex:outputPanel rendered="{!(registrationClosed)}">
              <apex:commandLink styleClass="css-button-disabled" value="{!$Label.evt__label_register}" />
            </apex:outputPanel>
          </apex:outputPanel>
        </div>
    </apex:outputPanel>

    </div>

    <div class="flex_item_right">
    <apex:outputPanel rendered="{!event.evt__Display_Map__c == true}">
    <div class="evt_map_div">
    <div class="evt_map_div_inner">

    <div id="map_canvas"></div>

    <apex:outputPanel rendered="false">
    <div id="evt_other_map_links">
    {!$Label.Label_OtherMaps}<br/>
    <a target="_blank" href="{!IF(BEGINS($Site.currentSiteURL,'https'),'http','http')}://maps.google.com?q={!URLENCODE(event.Street__c&','&event.City__c&','&event.State__c&','&event.Postal_Code__c&','&event.Country__c)}">Google</a>
    &nbsp;|&nbsp;
    <a target="_blank" href="{!IF(BEGINS($Site.currentSiteURL,'https'),'http','http')}://maps.yahoo.com/maps_result?addr={!URLENCODE(event.Street__c)}&csz={!URLENCODE(event.City__c)},+{!URLENCODE(event.State__c)}+{!URLENCODE(event.Postal_Code__c)}&country={!URLENCODE(event.Country__c)}">Yahoo</a>
    &nbsp;|&nbsp;
    <a target="_blank" href="{!IF(BEGINS($Site.currentSiteURL,'https'),'http','http')}://www.mapquest.com/maps/map.adp?country={!URLENCODE(event.Country__c)}&address={!URLENCODE(event.Street__c)}&city={!URLENCODE(event.City__c)}&state={!URLENCODE(event.State__c)}&zipcode={!URLENCODE(event.Postal_Code__c)}">Mapquest</a>
    &nbsp;|&nbsp;
    <a target="_blank" href="{!IF(BEGINS($Site.currentSiteURL,'https'),'http','http')}://maps.live.com/default.aspx?v=2&style=r&lvl=100&where1={!URLENCODE(event.Street__c&','&event.City__c&','&event.State__c&','&event.Postal_Code__c&','&event.Country__c)}">Bing</a>
    </div>
    </apex:outputPanel>

    </div>
    </div>

    </apex:outputPanel>
    </div>

  </div>



</div><!--  end evt_box_body -->
</div><!--  end evt_h2_outer_box -->


</apex:form>

<apex:outputPanel layout="none" rendered="{!event.evt__Show_Social_Links__c}">
<div class="evt_social_links" >
<div class="linkedin-share"  >
<script src=" {!IF(BEGINS(LOWER($Site.CurrentSiteUrl),'https'),'https','http')}://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/Share" data-counter="right"></script>
</div>
<div class="twitter-share" >
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="facebook-share" >
<div class="fb-like"  data-send="true" data-layout="button_count" data-width="250" data-show-faces="true" data-action="recommend"></div>
</div>
</div>
</apex:outputPanel>

    </div><!--  pc_page_content_inner -->
  </div><!--  pc_page_content -->
  </div><!--  pc_page -->
</div><!--  pc_lang -->

</apex:define>
</apex:composition>
</apex:page>