<apex:page docType="html-5.0" id="siteViewEventPass" controller="evt.SiteCancelRegistrationController"  title="{!$Label.evt__cancelregistration_heading}"  showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
<head>
<title>{!$Label.evt__cancelregistration_heading}</title>
</head>
<apex:composition template="{!$Site.Template}">


<apex:define name="body">

    <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
    <div class="pc_page" id="evt_site_cancel_reg_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content">
    <div class="pc_page_content_inner"> 
	
	<apex:form >   
 
    <apex:pageMessages id="messages"/>  
 
    <h1>{!$Label.evt__cancelregistration_heading}</h1> 
    <apex:outputPanel layout="none" rendered="{!NOT($Label.evt__cancelregistration_message == '-')}">
    <p>{!$Label.evt__cancelregistration_message}</p>
    </apex:outputPanel>
 	Event: {!eventName}<br/>
 	Attendee: {!attendeeName}<br/>
 	<br/>
    <apex:outputPanel id="buttons">
        <div class="pc_button_container"> 
        <apex:commandButton id="submitButton" 
                        value="{!$Label.site.submit}" 
                        action="{!cancelRegistration}"
                        status="formActionStatus" 
                        disabled="{!disableSubmitButton}" />
         <apex:actionStatus id="formActionStatus">
                 <apex:facet name="start">
                     <apex:outputPanel >&nbsp;
                         <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"
                             style="vertical-align:middle;" alt="" />
                             &nbsp;Processing...
                     </apex:outputPanel>
                 </apex:facet>
                 <apex:facet name="stop">
                     <apex:image value="{!URLFOR('/s.gif')}" alt="" style="height:17px;" /> 
                 </apex:facet> 
         </apex:actionStatus>  
        </div>
    </apex:outputPanel>

    </apex:form>

    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page --> 
</div> <!--  page pc_lang_xxx div -->        
</apex:define>
</apex:composition>            
    
</apex:page>