.THIS .esign-full-dialog {
    min-width: 85% !important;
    height: 100% !important;
    margin-top: 60px !important;
}

.THIS .esign-full-dialog-content {
    height: 100% !important;
    padding: 1px !important;
    margin-bottom: 40px !important;
}

.THIS .esign-icon-markup {
    background-color: transparent !important;
}

.THIS .esign-post-text {
    font-size: 11px;
}

.THIS .esign-trans-background {
    background-color: transparent !important;
}

.THIS .sign-signedby-panel {
    margin-top: -5px;
}

.THIS .sign-message {
    display: inline-flex;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-top: 20px !important;
    /*padding-right: 20px;*/
    background-color: #e8e9ea;
    width: 100%;
}

.THIS .sign-message-text {
    padding-right: 15px !important;
    padding-top: 10px;
}

.THIS .sign-box-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .sign-box-section-top {
    padding-top: 1rem;
}

.THIS .sign-no-box-section {
    padding: 0px;
}

.THIS .sign-past-due {
    color: red;
}

.THIS .sign-sign-button {
    padding-left: 20px;
}