.THIS {
    white-space: nowrap;
}
.THIS .osOutputLabel {
    font-size: .75rem;
    color: #54698D;
}
.THIS .dataCol {
    color: #16325C;
}
.THIS .forcePageBlockItemView .dataCol {
    font-weight: normal;
}
.THIS .spacer {
    margin: 0 .4rem;
}
.THIS .forcePageBlockItem .forcePageBlockItemView{
    margin-top: 0;    
    margin-bottom: 0;    
}
.THIS .forcePageBlockItemView.full {    
    border-bottom: 0;
}

.THIS .forcePageBlockItemView.full:last-child {
    border-left: 0px;
}
.THIS .forcePageBlockItemView.full {
    padding: 1px 10px 6px 10px;
    margin-top: 10px 5px 2px 5px;
}
.THIS .h3 {
    color: #16325C;
    font-weight: bold; 
}
.THIS #apttuslogo {
    padding-left: 10px;
    padding-right: 4px;
    margin-bottom: -6px;
    height: 22px;
}
.THIS .actionCol {
    display: inline-block;
}
.THIS .actioncontainer{
    width:100px;
}
.THIS .showaction {
    display: inline-block;
}
.THIS .hideaction {
    display: none;
}

.THIS disabledaction {
    opacity: 0.3;
    pointer-events: none;
}
.THIS .actionTitle {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.THIS .disabledButtons {
    opacity:0.3;
}