<apex:page docType="html-5.0" id="siteAddPmtMethod" controller="pymt.SiteAddPmtMethodController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false" title="{!$Label.pymt__siteaddpmtmethod_heading}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script> $j = jQuery.noConflict();</script>
<script src="{!URLFOR($Resource.PaymentConnect, 'includes/tooltip/wz_tooltip.js')}"></script>

<apex:composition template="{!$Site.Template}">
  <apex:define name="body">
    <div id="pc_context_{!HTMLENCODE($CurrentPage.parameters.context)}">
    <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
    <div class="pc_page" id="pc_siteaddpmtmethod_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content" >
    <div class="pc_page_content_inner">
    <apex:form id="mainForm">
    <script>
    // HTML5 validation fallback code - for Safari, ios and android devices
    function hasHtml5Validation () {
      return typeof document.createElement('input').checkValidity === 'function';
    }

    if (hasHtml5Validation()) {
      $j("#{!SUBSTITUTE($Component.mainForm,':','\\\\:')}").submit(function (e) {
        if (!this.checkValidity()) {
          e.preventDefault();
          $j(this).addClass('invalid');
          $j('#status').html('invalid');
        } else {
          $j(this).removeClass('invalid');
          $j('#status').html('submitted');
        }
      });
    }
    // end HTML5 validation fallback code
    </script>

        <apex:pageMessages id="messages" />
        <h1>{!$Label.pymt__siteaddpmtmethod_heading}</h1>
        <apex:outputPanel rendered="{!NOT($Label.pymt__siteaddpmtmethod_instructions == '-')}">
        <p>{!$Label.pymt__siteaddpmtmethod_instructions}</p>
        </apex:outputPanel>

        <apex:outputPanel layout="none" rendered="{!pmtMethodType == 'AuthNet_CIM_Payment_Profile'}">
        <c:SiteUpsertPmtMethodAuthNet pageControllerReference="{!this}" submitRerender="messages"/>
        </apex:outputPanel>

        <apex:outputPanel layout="none" rendered="{!pmtMethodType == 'eWay_Customer_Profile'}">
        <c:SiteUpsertPmtMethodEWay pageControllerReference="{!this}" submitRerender="messages"/>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!AND(pmtMethodType == 'PayPal_Transaction_Reference', siteSettings.pymt__Use_Billing_Agreements__c == false)}">
        <c:SiteUpsertPmtMethodPayPal pageControllerReference="{!this}" submitRerender="messages"/>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!AND(pmtMethodType == 'PayPal_Transaction_Reference', siteSettings.pymt__Use_Billing_Agreements__c == true)}">
        <c:SiteUpsertPmtMethodPayPalExpress pageControllerReference="{!this}" submitRerender="messages"/>
        </apex:outputPanel>

        <apex:outputPanel layout="none" rendered="{!pmtMethodType == 'Credit_Card'}">
            <c:SiteUpsertPmtMethodNative pageControllerReference="{!this}" submitRerender="messages"/>
        </apex:outputPanel>

        <apex:outputPanel layout="none" rendered="{!pmtMethodType == 'Bank_Account'}">
             <c:SiteUpsertPmtMethodBankAccount pageControllerReference="{!this}" submitRerender="messages, mainForm"/>
        </apex:outputPanel>

        <div class="pc_button_container">
          <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == false}">
            <apex:commandButton value="{!$Label.pymt__label_cancel}" action="{!pageCancel}" html-formnovalidate="true" immediate="true" rendered="{!NOT(ISBLANK(cancelURL))}"/>
            <apex:commandButton value="{!$Label.pymt__label_submit}" action="{!pageSubmit}"/>
          </apex:outputPanel>
          <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == true}">
            <input type="submit" style="display:none;" id="hiddenSubmit" name="hiddenSubmitInput"/>
            <apex:commandLink styleClass="css-button" value="{!$Label.pymt__label_cancel}" action="{!pageCancel}" html-formnovalidate="true" immediate="true" rendered="{!NOT(ISBLANK(cancelURL))}"/>
            <apex:commandLink styleClass="css-button" onclick="return validateForm();" value="{!$Label.pymt__label_submit}" action="{!pageSubmit}"/>
            <script>
            function validateForm() {
              // for apex:commandLink which does not invoke HTML5 form validation automatically
              var form = document.getElementById('{!$Component.mainForm}');
              var submitBtn = document.getElementById('hiddenSubmit');
              if (form.checkValidity() == false) {
                submitBtn.click();  // force form to display validation messages.
                return false;
              }
              return true;
            }
            </script>
          </apex:outputPanel>


        </div>
    <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Debug__c == true}">
    <br/><br/>
    Debug: Payment Method Type = {!pmtMethodType}, Card Management = {!siteSettings.pymt__Card_Management__c}

    </apex:outputPanel>

    </apex:form>
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page -->
</div> <!--  page pc_lang_xxx div -->
</div> <!--  page pc_context_xxx div -->

    </apex:define>
</apex:composition>
</apex:page>