<apex:page doctype="HTML-5.0" id="siteSubscribeNTVPage" controller="pymt.SiteSubscribeNtvController"   showHeader="false" sidebar="false" cache="false" standardStylesheets="false" language="{!$CurrentPage.Parameters.lang}" title="{!$Label.pymt__sitesubscribentv_checkoutheading}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script> $j = jQuery.noConflict();</script>
<script src="//www.google.com/recaptcha/api.js?render=explicit" type="text/javascript" />
<apex:composition template="{!$Site.Template}">
<apex:define name="body">
  <div id="{!HTMLENCODE($CurrentPage.parameters.context)}">
  <div id="pc_lang_{!$CurrentPage.parameters.lang}">
  <div class="pc_page" id="pc_sitesubscribentv_page">
  <div class="pc_page_content_top"></div>
  <div class="pc_page_content">
    <div class="pc_page_content_inner">

    <apex:pageMessages id="messages"/>
    <apex:form id="mainForm">
    <script>
    // HTML5 validation fallback code - for Safari, ios and android devices
    function hasHtml5Validation () {
      return typeof document.createElement('input').checkValidity === 'function';
    }

    if (hasHtml5Validation()) {
      $j("#{!SUBSTITUTE($Component.mainForm,':','\\\\:')}").submit(function (e) {
        if (!this.checkValidity()) {
          e.preventDefault();
          $j(this).addClass('invalid');
          $j('#status').html('invalid');
        } else {
          $j(this).removeClass('invalid');
          $j('#status').html('submitted');
        }
      });
    }
    // end HTML5 validation fallback code
    </script>

        <apex:outputPanel rendered="{!showPageContents}">
            <h1>{!$Label.pymt__sitesubscribentv_checkoutheading}</h1>

            <apex:outputPanel rendered="{!NOT($Label.pymt__sitesubscribentv_subscriptionsummaryheading == '-')}">
            <h2>{!$Label.pymt__sitesubscribentv_subscriptionsummaryheading}</h2>
            </apex:outputPanel>
                <apex:panelGrid columns="2" columnClasses="labelColumn,term_column" id="subscription_terms">
                    <apex:outputText value="{!$Label.pymt__label_subscriptionfor}:" />
                    <apex:outputText value="{!profileName}"/>

                    <apex:outputText value="{!$Label.pymt__label_description}:" rendered="{!NOT(ISNULL(profileDescription))}" />
                    <apex:outputText value="{!profileDescription}" rendered="{!NOT(ISNULL(profileDescription))}"/>

                    <apex:outputText value="{!$Label.pymt__label_startdate}:" />
                    <apex:outputText value="{!startDateString}"/>

                    <apex:outputText value="{!$Label.pymt__label_initialamount}:"  rendered="{!(initialAmount>0)}"/>
                    <apex:outputText rendered="{!(initialAmount>0)}"
                        value="{!currencyFormatExpression}" >
                    <apex:param value="{!initialAmount}"/>
                    </apex:outputText>

                    <apex:outputText value="{!$Label.pymt__label_trialamount}:"  rendered="{!NOT(ISNULL(trialTerms))}"/>
                    <apex:outputPanel layout="inline" rendered="{!NOT(ISNULL(trialTerms))}">
                      <apex:outputText value="{!currencyFormatExpression}" >
                      <apex:param value="{!trialAmount}"/>
                      </apex:outputText>&nbsp;<apex:outputText value="{!trialTerms}"/>

                    </apex:outputPanel>

                    <apex:outputText value="{!$Label.pymt__label_subscriptionamount}:"/>
                    <apex:outputPanel layout="inline">
                      <apex:outputText value="{!currencyFormatExpression}" >
                      <apex:param value="{!recurringAmount}"/>
                      </apex:outputText>&nbsp;<apex:outputText value="{!subscriptionTerms}"/>
                    </apex:outputPanel>

                </apex:panelGrid>



                <br/>

                <apex:outputPanel id="checkoutPanel" >
                  <h2>{!$Label.pymt__sitesubscribentv_billinginfoheading}</h2>

                    <apex:outputPanel rendered="{!displayProcessingActionOptions}">
                    <apex:actionRegion >

                    <div class="pc_flex_form">

                      <div class="pc_flex_form_line_container">
                          <div class="pc_flex_form_label_item">

                          </div>
                          <div class="pc_flex_form_required_flag_item">
                              <apex:image url="/s.gif" styleClass="optionalFieldMarker"/>
                          </div>

                          <div class="pc_flex_form_field_item">
                            <apex:selectRadio value="{!selectedProcessingAction}" >
                            <apex:selectOptions value="{!processingActionOptions}"/>
                            <apex:actionSupport event="onchange" action="{!selectedProcessingActionChanged}" rerender="paymentMethodCheckoutPanel, checkoutPanel, messages, debugInfo, createPmtMethodPanel"/>
                            </apex:selectRadio>
                          </div>
                      </div>
                    </div><!-- end of flex form -->
                  </apex:actionRegion>
                  </apex:outputpanel>



                  <apex:outputPanel id="paymentMethodCheckoutPanel" rendered="{!paymentMethodCount >0}" >
                     <apex:actionRegion >
                      <apex:panelGrid columns="3" styleClass="pc_stored_pmt_method_table" columnClasses="labelColumn,requiredFieldMarkerColumn,fieldColumn">

                          <apex:outputText value="{!$Label.pymt__label_paymentmethod}"/>
                          <apex:image url="/s.gif" styleClass="optionalFieldMarker"/>
                          <apex:selectList size="1" id="paymentMethodSelectList"
                                  multiselect="false" value="{!selectedPaymentMethodId}">
                                  <apex:selectOptions value="{!paymentMethodOptions}" />
                                  <apex:actionSupport event="onchange" action="{!null}"  rerender="checkoutPanel, messages, debugInfo, createPmtMethodPanel"/>
                          </apex:selectList>

                      </apex:panelGrid>
                      </apex:actionRegion>
                    </apex:outputPanel>



                  <apex:outputPanel id="createPmtMethodPanel" rendered="{!selectedPaymentMethodId == ''}" >

                  <apex:outputPanel rendered="{!NOT($Label.pymt__sitesubscribeprb_billinginfoinstructions == '-')}">
                    <p class="pc_billing_info_instructions">{!$Label.pymt__sitesubscribentv_billinginfoinstructions}</p>
                  </apex:outputPanel>

                  <apex:outputPanel rendered="{!(newPaymentMethodRecType == 'AuthNet_CIM_Payment_Profile')}">
                  <c:SiteUpsertPmtMethodAuthNet pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>

                  <apex:outputPanel rendered="{!(newPaymentMethodRecType == 'eWay_Customer_Profile')}">
                  <c:SiteUpsertPmtMethodEWay pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>


                  <apex:outputPanel rendered="{!AND(newPaymentMethodRecType == 'PayPal_Transaction_Reference',siteSettings.pymt__Use_Billing_Agreements__c == false)}">
                  <c:SiteUpsertPmtMethodPayPal pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>

                  <apex:outputPanel rendered="{!AND(newPaymentMethodRecType == 'PayPal_Transaction_Reference',siteSettings.pymt__Use_Billing_Agreements__c == true)}">
                  <c:SiteUpsertPmtMethodPayPalExpress pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>


                  <apex:outputPanel layout="none" rendered="{!(newPaymentMethodRecType == 'Credit_Card')}">
                      <c:SiteUpsertPmtMethodNative pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>

                  <apex:outputPanel layout="none" rendered="{!(newPaymentMethodRecType == 'Bank_Account')}">
                      <c:SiteUpsertPmtMethodBankAccount pageControllerReference="{!this}" submitRerender="messages"/>
                  </apex:outputPanel>

                  </apex:outputPanel>

            </apex:outputPanel>


		<apex:outputPanel id="nocaptcha"  rendered="{!NOT(showCaptcha == true)}">
                <script type="text/javascript">
                function captureResponse(ele) {
                }
                </script>
        </apex:outputPanel>

        <apex:outputPanel id="captcha" rendered="{!showCaptcha == true}">
            <apex:inputhidden value="{!recaptcha.response}" id="response" />
            <script type="text/javascript">
            function renderCaptchaWidget() {
                grecaptcha.render('dynamic_recaptcha_1',{
                    sitekey:'{!reCaptcha.publicKey}',
                    callback: function(resp){
                        //alert('setting response...');
		                document.getElementById('{!$Component.response}').value = resp;
                        				// document.getElementById('g-recaptcha-response').value;
                                    
                		}});
            }
            </script>

            <div class="pc_flex_form" id="captcha_flex_form">

               <div class="pc_flex_form_line_container">
                   <div class="pc_flex_form_label_item">
                       <apex:outputText value=""/>
                   </div>
                   <div class="pc_flex_form_required_flag_item">
                       <apex:image url="/s.gif"/>
                   </div>

                   <div class="pc_flex_form_field_item">
                        <apex:outputPanel layout="inline">
                        <div id="dynamic_recaptcha_1" class="g-recaptcha" ></div>
                            <!--  display the image using the reCAPTCHA AJAX API -->
                        </apex:outputPanel>
                   </div>
               </div>

            </div><!-- end of flex form -->
			
            <script type="text/javascript">
            renderCaptchaWidget();
            </script>
        </apex:outputPanel>            
            
                  <apex:outputPanel rendered="{!NOT($Label.pymt__sitesubscribeprb_billinginfoinstructions == '-')}">
                    <p class="pc_billing_info_instructions">{!$Label.pymt__sitesubscribentv_continueinstructions}</p>
                  </apex:outputPanel>
            	  <apex:outputPanel id="buttons">
                    <div class="pc_button_container">
                      <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == false}">
                          <apex:commandButton id="createSubscription" value="{!$Label.pymt__sitesubscribentv_continuebutton}" status="formActionStatus"
                              action="{!createSubscription}"   rerender="mainForm, formActionStatus,  messages"/>
                            <apex:commandButton id="cancel" value="{!$Label.pymt__sitesubscribeprb_cancelbutton}" html-formnovalidate="true" immediate="true"
                                    action="{!cancelTransaction}"  rendered="{!AND(NOT(cancelURL==null), NOT(ISNULL(cancelURL)))}"/>
                      </apex:outputPanel>

                      <apex:outputPanel layout="none" rendered="{!siteSettings.pymt__Display_CSS_Buttons__c == true}">
                          <input type="submit" style="display:none;" id="hiddenSubmit" name="hiddenSubmitInput"/>
                          <apex:commandLink styleClass="css-button" onclick="if (!validateForm()) {return false;}" id="createSubscription2" value="{!$Label.pymt__sitesubscribentv_continuebutton}" status="formActionStatus"
                              action="{!createSubscription}"   rerender="mainForm, formActionStatus,  messages"/>

                            <apex:commandLink styleClass="css-button" id="cancel2" value="{!$Label.pymt__sitesubscribeprb_cancelbutton}" html-formnovalidate="true" immediate="true"
                                    action="{!cancelTransaction}" rendered="{!AND(NOT(cancelURL==null), NOT(ISNULL(cancelURL)))}"/>
                            <script>
                             function validateForm() {
                               // for apex:commandLink which does not invoke HTML5 form validation automatically
                               var form = document.getElementById('{!$Component.mainForm}');
                               var submitBtn = document.getElementById('hiddenSubmit');
                               if (form.checkValidity() == false) {
                                 submitBtn.click();  // force form to display validation messages.
                                 return false;
                               }
                               return true;
                             }
                             </script>
                      </apex:outputPanel>

                      <apex:actionStatus id="formActionStatus" onstart="disableSubmitButtons(true)" onstop="disableSubmitButtons(false)">
                            <apex:facet name="start">
                              <apex:outputPanel >&nbsp;
                                <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"
                                           style="vertical-align:middle;" alt=""/>
                                &nbsp;Processing... </apex:outputPanel>
                            </apex:facet>
                            <apex:facet name="stop">
                              <apex:image value="{!URLFOR('/s.gif')}" alt="" style="height:17px;"/>
                            </apex:facet>
                      </apex:actionStatus>
                      <script>
                      function disableSubmitButtons(flag) {
                         var submitBtn1 = document.getElementById('{!$Component.mainForm.createSubscription}');
                         var submitBtn2 = document.getElementById('{!$Component.mainForm.createSubscription2}');
                         if(submitBtn1 !== null) {
                           submitBtn1.disabled = flag;
                         }
                         if(submitBtn2 !== null) {
                           submitBtn2.disabled = flag;
                         }
                       }

                      </script>
                    </div>
                  </apex:outputPanel>

              </apex:outputPanel>


    </apex:form>

   <apex:outputPanel id="debugInfo" rendered="{!siteSettings.pymt__Debug__c == true}">
   <br/><br/>
   Debug Mode: Processor Id = {!processor.Id}, {!processor.pymt__Processor_Id__c}, newPaymentMethodRecType = {!newPaymentMethodRecType}, selectedPaymentMethodId= {!selectedPaymentMethodId},  paymentMethodCount = {!paymentMethodCount}
   </apex:outputPanel>

    </div><!--  pc_page_content_inner -->
  </div><!--  pc_page_content -->
    </div><!--  pc_page -->
</div> <!--  page pc_lang_xxx div -->
</div> <!--  page context div -->
</apex:define>
</apex:composition>
</apex:page>