<apex:page docType="html-5.0" id="siteAddPmtMethodConfirm" showHeader="false" sidebar="false" cache="false" standardStylesheets="false" title="Payment Method Added">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script> $j = jQuery.noConflict();</script>
<apex:composition template="{!$Site.Template}">
  <apex:define name="body">
    <div id="pc_context_{!HTMLENCODE($CurrentPage.parameters.context)}">
    <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
    <div class="pc_page" id="pc_siteaddpmtmethodconfirm_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content">
    <div class="pc_page_content_inner">
    <apex:form id="myForm"  >
        <apex:outputPanel id="addPmtMethodConfirmFormPanel" >

            <apex:pageMessages id="messages"/>
						<apex:outputPanel rendered="{!NOT($Label.pymt__siteaddpmtmethodconfirm_heading == '-')}">
						<h1>{!$Label.pymt__siteaddpmtmethodconfirm_heading}</h1>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!NOT($Label.pymt__siteaddpmtmethodconfirm_message == '-')}">
						<p>{!$Label.pymt__siteaddpmtmethodconfirm_message}</p>
						</apex:outputPanel>


        </apex:outputPanel>
    </apex:form>
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page -->
</div> <!--  page pc_lang_xxx div -->
</div> <!--  page pc_context_xxx div -->
    </apex:define>
</apex:composition>
</apex:page>