<apex:page controller="pymt.TerminalSettingsController" tabStyle="pymt__PaymentConnect_Admin__tab" >
<apex:sectionHeader title="Linvio PaymentConnect" subtitle="User Terminal Settings"  help="{!$Page.pymt__Help}" />

<apex:form >
<apex:pageMessages />
<apex:pageBlock title="" mode="Edit" >
<apex:pageBlockButtons >
<apex:commandButton value="Cancel" action="{!cancelEdit}"  rendered="{!(editMode)}"/>
<apex:commandButton value="Save" action="{!saveSettings}"  rendered="{!(editMode)}"/>
<apex:commandButton value="Edit" action="{!editSettings}" rendered="{!NOT(editMode)}"/> 
<apex:commandButton value="Reset to Defaults" action="{!resetSettings}" rendered="{!NOT(editMode)}"/> 
</apex:pageBlockButtons>
<div style="padding:5px;">Use the form below to manage your personal PaymentConnect terminal page settings:</div>
<apex:pageBlockSection title="Credit Card Terminal" collapsible="false">
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Default Processor Connection"/>
    <apex:outputPanel layout="none">
        <apex:outputText value="{!selectedDefaultProcessorName}" rendered="{!NOT(editMode)}"/>
        <apex:selectList value="{!terminalSettings.pymt__Pmt_Term_Default_Processor__c}" size="1" multiselect="false" rendered="{!(editMode)}">
        <apex:selectOptions value="{!processorConnectionOptions}"/>
        </apex:selectList>
    </apex:outputPanel>
</apex:pageBlockSectionItem>

<apex:outputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Shipping_Address__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Shipping_Address__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Shipping_Handling__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Shipping_Handling__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Auto_Check_Save_Payment_Method__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Auto_Check_Save_Payment_Method__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Invoice__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Invoice__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Cat_Split_Names__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Pmt_Term_Cat_Split_Names__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Enable_Card_Swipe__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Enable_Card_Swipe__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Pmt_Term_Apply_Tax_To_Shipping__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Pmt_Term_Apply_Tax_To_Shipping__c}" rendered="{!(editMode)}"/>

    
<apex:outputText value="" />

</apex:pageBlockSection>
 
<apex:pageBlockSection title="Cash Entry Terminal" collapsible="false">
<apex:outputField value="{!terminalSettings.pymt__Hide_Cash_Entry_Shipping_Address_Fields__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Cash_Entry_Shipping_Address_Fields__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Cash_Entry_Cat_Split_Names__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Cash_Entry_Cat_Split_Names__c}" rendered="{!(editMode)}"/>
</apex:pageBlockSection> 

<apex:pageBlockSection title="PayPal Recurring Billing Terminal">
<apex:outputField value="{!terminalSettings.pymt__Hide_PayPal_Trial_Fields__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_PayPal_Trial_Fields__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_PayPal_Profile_Reference__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_PayPal_Profile_Reference__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Tax__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Tax__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Shipping__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Shipping__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Cat_Split_Names__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_PayPal_Recurring_Cat_Split_Names__c}" rendered="{!(editMode)}"/>
</apex:pageBlockSection>

<apex:pageBlockSection title="AuthNet Recurring Billing Terminal" collapsible="false">
<apex:outputField value="{!terminalSettings.pymt__Hide_AuthNet_Trial_Fields__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_AuthNet_Trial_Fields__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_ARB_Invoice_Number__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_ARB_Invoice_Number__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_ARB_Shipping__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_ARB_Shipping__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_ARB_Cat_Split_Names__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_ARB_Cat_Split_Names__c}" rendered="{!(editMode)}"/>

</apex:pageBlockSection>

<apex:pageBlockSection title="Native Scheduled Payments Terminal" collapsible="false">
<apex:outputField value="{!terminalSettings.pymt__Hide_Native_Recur_Trial_Fields__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Native_Recur_Trial_Fields__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Native_Recur_Shipping_Address__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Native_Recur_Shipping_Address__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Hide_Native_Recur_Cat_Split_Names__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Hide_Native_Recur_Cat_Split_Names__c}" rendered="{!(editMode)}"/>

</apex:pageBlockSection> 

<apex:pageBlockSection title="PaymentConnect Dashboard" collapsible="false">
<apex:outputField value="{!terminalSettings.pymt__Widget_1__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Widget_1__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Widget_2__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Widget_2__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Widget_3__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Widget_3__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Widget_4__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Widget_4__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Widget_5__c}" rendered="{!NOT(editMode)}"/>
<apex:inputField value="{!terminalSettings.pymt__Widget_5__c}" rendered="{!(editMode)}"/>

<apex:outputField value="{!terminalSettings.pymt__Widget_Size__c}" rendered="{!NOT(editMode)}"/>
<apex:selectList value="{!terminalSettings.pymt__Widget_Size__c}" size="1" multiselect="false" rendered="{!(editMode)}">
    <apex:selectOption itemLabel="-- Select a size --" itemValue=""/>
    <apex:selectOption itemLabel="tiny" itemValue="tiny"/>
    <apex:selectOption itemLabel="small" itemValue="small"/>
    <apex:selectOption itemLabel="medium" itemValue="medium"/>
    <apex:selectOption itemLabel="large" itemValue="large"/>
    <apex:selectOption itemLabel="huge" itemValue="huge"/>
</apex:selectList>
</apex:pageBlockSection>    

</apex:pageBlock>

</apex:form>
</apex:page>