<!-- 
    Apttus Approvals Management
    ApprovalProcessStepView
     
    @2010-2015 Apttus Inc. All rights reserved.

 -->
<apex:page standardcontroller="Apttus_Approval__Approval_Process__c" 
           extensions="Apttus_Approval.ApprovalProcessStepController" 
           showHeader="true"
           sidebar="true" 
           tabStyle="Apttus_Approval__Approval_Process__c"> 
    
    <style>
        textarea {
            width: 40%;
        }
    </style>
        
    <!-- VIEW mode -->
    <apex:sectionHeader title="{!$Label.apttus_approval__view & ' ' & $Label.apttus_approval__approvalprocessstep}" 
                        subtitle="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Name__c}" 
                        rendered="{!IsViewMode && NOT(ISBLANK(Apttus_Approval__Approval_Process__c.Id))}" />

    <apex:form id="idApprovalProcessStepForm">
        
        <!--  required process fields -->
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Name}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Active__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Description__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Object_Name__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Object_Label__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Object_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Process_Name__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.RecordTypeId}" rendered="false" />
        
        <!--  required step group fields -->
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action_Field_Name_Source__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action_Field_Name__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action_Field_Update_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action_Field_Value__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Action__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Active__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Name__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Rejection_Action__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Group_Seq_Number__c}" rendered="false" />

        <!--  required step fields -->
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSequence__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Active__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Approver_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Assignee_Description__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Assignee_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Assignee__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Hierarchy_Driver__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Name__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Notify_Only__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Auto_Complete__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Seq_Number__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Send_Email__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__DependsOn__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepFilterLogic__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoEscalate__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepExpectedDaysToComplete__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepExpectedHoursToComplete__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepExpectedMinutesToComplete__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepEscalateToType__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepEscalateToName__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepEscalateToId__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionCommentsEnabled__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment1Enabled__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment2Enabled__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment3Enabled__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepLabel__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepType__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__ChildObjectType__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__CriteriaFieldNames__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoReapprove__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoReapprovalCriteria__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepDisplayFieldNameHeader__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepDisplayFieldNames__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepKeyFieldNames__c}" rendered="false" />

        <!--  required step filter fields -->
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Field_Object_Source__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Field_Object__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Field__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Comparison_Type__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Field_Value__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_Comments__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Filter_BoolOper__c}" rendered="false" />
        
        <!--  required step auto reapproval filter fields -->
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__CriteriaFieldNames__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoReapprove__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoReapprovalCriteria__c}" rendered="false" />
        
        <!--
            VIEW mode
        -->
        
        <!-- Process Step Detail -->
        <apex:pageBlock id="idStepBlock" 
                        title="{!$Label.apttus_approval__view & ' ' & $Label.apttus_approval__approvalprocessstep}" 
                        rendered="{!IsViewMode && NOT(inSearchMode)}">
            <apex:pageMessages />
            
            <apex:pageBlockButtons location="both">
                <apex:commandButton value="{!$Label.apttus_approval__edit}" action="{!doEditStep}" />
                <apex:commandButton value="{!$Label.apttus_approval__cancel}" action="{!doCancel}" immediate="true" />
            </apex:pageBlockButtons>
            
           <!-- Step Information -->
           <apex:pageBlockSection id="idStepBlockSection" 
                                   title="{!$Label.apttus_approval__approvalprocessstepname}" 
                                   columns="1" 
                                   collapsible="false" >
                
                <!-- step name -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idStepName" value="{!$Label.apttus_approval__stepname}" />
                    <apex:outputField id="idStepName" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Name__c}" />
                </apex:pageBlockSectionItem>

                <!-- step label -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idStepLabel" value="{!$Label.apttus_approval__steplabel}" />
                    <apex:outputField id="idStepLabel" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepLabel__c}" />
                </apex:pageBlockSectionItem>

                <!-- step type -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idStepType" value="{!$Label.apttus_approval__steptype}" />
                    <apex:outputField id="idStepType" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepType__c}" />
                </apex:pageBlockSectionItem>

                <!-- context object -->
                <apex:pageBlockSectionItem rendered="{!isStepTypeStandard || isStepTypeSubprocess}" >
                    <apex:outputLabel for="idContextObject" value="{!$Label.apttus_approval__contextobject}" />
                    <apex:outputText id="idContextObject" value="{!businessObjectLabel}" />
                </apex:pageBlockSectionItem>
                
                <!-- child context object type -->
                <apex:pageBlockSectionItem rendered="{!isStepTypeChildProcess}" >
                    <apex:outputLabel for="idChildContextObject" value="{!$Label.apttus_approval__child & ' ' & $Label.apttus_approval__contextobject}" />
                    <apex:selectList id="idChildContextObject"
                                     value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__ChildObjectType__c}" 
                                     size="1"
                                     disabled="true">
                        <apex:selectOptions value="{!childObjectTypes}"></apex:selectOptions>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <!-- approval rule -->
                <apex:pageBlockSectionItem rendered="{!isStepTypeSubprocess || isStepTypeChildProcess}">
                    <apex:outputLabel for="idApprovalRule" value="{!$Label.apttus_approval__approvalrule}" />
                    <apex:outputField id="idApprovalRule" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Assignee__c}" />  
                </apex:pageBlockSectionItem>

                <!-- step description -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idStepDesc" value="{!$Label.apttus_approval__stepdescription}" />
                    <apex:outputField id="idStepDesc" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Description__c}" />
                </apex:pageBlockSectionItem>

                <!-- active -->
                <!--<apex:pageBlockSectionItem rendered="{!isStepTypeSubprocess || isStepTypeChildProcess}">
                    <apex:outputLabel value="{!$ObjectType.Approval_Process__c.Fields.Step_Active__c.Label}" />
                    <apex:outputField value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__Step_Active__c}" />
                </apex:pageBlockSectionItem>-->
            </apex:pageBlockSection>

            <!-- Step Auto Reapproval Conditions -->
            <!-- TODO: don't show until we can add readOnly parameter to the component -->
            <!--<apex:pageBlockSection id="idStepAutoReapprovalInfo" 
                                   title="{!$Label.AutoReapprovalCriteria}" 
                                   columns="1" 
                                   collapsible="false"
                                   rendered="{!isStepTypeStandard}" >

                <c:UIReapprovalFilter id="idReapprovalFilter"  
                                      sObjectName="{!businessObjectType}"  
                                      pageController="{!this}" 
                                      mode="wizard" />
            </apex:pageBlockSection>-->

            <!-- Step Dependency Information -->
            <apex:pageBlockSection id="idStepBlockDependencyInfo" 
                                   title="{!$Label.apttus_approval__approvalprocessstepdependencyinfo}" 
                                   columns="1" 
                                   collapsible="false" >
                                   
                <c:UIDependsOn id="idDependsOn" 
                               pageControllerAttr="{!this}"
                               contextSOAttr="{!Apttus_Approval__Approval_Process__c}"
                               contextSOFieldAttr="DependsOn__c"
                               contextSOLabelAttr="Approval Process Step"
                               isReadOnlyAttr="true"
                               itemValuesAttr="{!dependsOnValues}" />
            </apex:pageBlockSection>

            <!-- Step Assignee Information -->
            <apex:pageBlockSection id="idStepBlockAssigneeInfo" 
                                   title="{!$Label.apttus_approval__approvalprocessstepassigneeinfo}" 
                                   columns="1" 
                                   collapsible="false" 
                                   rendered="{!isStepTypeStandard}">

                <!-- assigned approvers -->
                <c:UIAssignee id="idAssigneeType" 
                              pageControllerAttr="{!this}"
                              contextSOAttr="{!Apttus_Approval__Approval_Process__c}"
                              contextSOLabelAttr="{!$ObjectType.Apttus_Approval__Approval_Process__c.Label}"
                              isReadOnlyAttr="true"
                              businessObjTypeAttr="{!businessObjectType}"
                              assigneeTypeFieldAttr="Step_Assignee_Type__c"
                              assigneeValueFieldAttr="Step_Assignee__c"
                              assigneeIdFieldAttr="Step_Assignee_Id__c"
                              assigneeDescFieldAttr="Step_Assignee_Description__c"
                              assigneeSendEmailFieldAttr="Send_Email__c"
                              assigneeNotifyOnlyFieldAttr="Step_Notify_Only__c"
                              assigneeAttr="{!assignee}"
                              supportedAssigneeTypesAttr="{!supportedAssigneeTypes}"
                              parentReRenderIdAttr="idApprovalProcessStepForm" />
            </apex:pageBlockSection>
            
            <!-- Step Escalation Assignee Information -->
            <apex:pageBlockSection id="idStepBlockEscalationAssigneeInfo" 
                                   title="{!$Label.apttus_approval__approvalprocessstepescalationassigneeinfo}" 
                                   columns="1" 
                                   collapsible="false"
                                   rendered="{!isStepTypeStandard}" >

                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idViewEscalationAutoEscalate" value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepAutoEscalate__c.Label}" />
                    <apex:outputField id="idViewEscalationAutoEscalate" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoEscalate__c}" />
                </apex:pageBlockSectionItem>
    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idViewEscalationExpectedDaysToComplete" value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepExpectedDaysToComplete__c.Label}" />
                    <apex:outputText id="idViewEscalationExpectedDaysToComplete" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepExpectedDaysToComplete__c}" />
                </apex:pageBlockSectionItem>
    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="idViewEscalationExpectedHoursToComplete" value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepExpectedHoursToComplete__c.Label}" />
                    <apex:outputText id="idViewEscalationExpectedHoursToComplete" value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepExpectedHoursToComplete__c}" />
                </apex:pageBlockSectionItem>
    
                <!-- Assignee Escalation Settings -->
                <c:UIEscalationAssignee id="idEscalationAssigneeType" 
                                        pageControllerAttr="{!this}"
                                        contextSOAttr="{!Apttus_Approval__Approval_Process__c}"
                                        contextSOLabelAttr="{!$ObjectType.Apttus_Approval__Approval_Process__c.Label}"
                                        isReadOnlyAttr="true"
                                        businessObjTypeAttr="{!businessObjectType}"
                                        isAutoEscalateEnabledAttr="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepAutoEscalate__c}"
                                        assigneeTypeFieldAttr="StepEscalateToType__c"
                                        assigneeValueFieldAttr="StepEscalateToName__c"
                                        assigneeIdFieldAttr="StepEscalateToId__c"
                                        supportedAssigneeTypesAttr="{!supportedEscalationAssigneeTypes}"
                                        parentReRenderIdAttr="idApprovalProcessStepForm" />
            </apex:pageBlockSection>
            
            <!-- Step Submission Comments -->
            <apex:pageBlockSection columns="1" rendered="{!isReadOnly}">
                {!$Label.apttus_approval__approvalprocessstep6inst}
            </apex:pageBlockSection>
                
            <apex:pageBlockSection id="idStepSubmissionCommentsSectionView" 
                                   title="{!$Label.apttus_approval__stepsubmissioncommentinfo}" 
                                   columns="1" 
                                   collapsible="false">

                <apex:pageBlockSectionItem rendered="{!isStepLevelSubmissionCommentsEnabled}">
                    <apex:outputLabel value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepSubmissionCommentsEnabled__c.Label}" />
                    <apex:outputField value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionCommentsEnabled__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!isStepLevelSubmissionCommentsEnabled &&
                                                       numSubmissionCommentsPerStep >= 1}">
                    <apex:outputLabel value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepSubmissionComment1Enabled__c.Label}" />
                    <apex:outputPanel id="idStepComment2EnabledPanel" layout="block" >
                        <apex:outputField value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment1Enabled__c}" />
                        <apex:outputText >{!$Label[submissionComment1Label]}</apex:outputText>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!isStepLevelSubmissionCommentsEnabled &&
                                                       numSubmissionCommentsPerStep >= 2}">
                    <apex:outputLabel value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepSubmissionComment2Enabled__c.Label}" />
                    <apex:outputPanel id="idStepComment2EnabledPanel" layout="block" >
                        <apex:outputField value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment2Enabled__c}" />
                        <apex:outputText >{!$Label[submissionComment2Label]}</apex:outputText>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!isStepLevelSubmissionCommentsEnabled &&
                                                       numSubmissionCommentsPerStep == 3}">
                    <apex:outputLabel value="{!$ObjectType.Apttus_Approval__Approval_Process__c.Fields.Apttus_Approval__StepSubmissionComment3Enabled__c.Label}" />
                    <apex:outputPanel id="idStepComment3EnabledPanel" layout="block" >
                        <apex:outputField value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepSubmissionComment3Enabled__c}" />
                        <apex:outputText >{!$Label[submissionComment3Label]}</apex:outputText>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <!-- Step Display Fields -->
            <apex:pageBlockSection id="idStepDisplayFields" 
                                   title="{!$Label.apttus_approval__step & ' ' & $Label.apttus_approval__displayfields}" 
                                   columns="1" 
                                   collapsible="false" >

                <apex:pageBlockSectionItem id="idHeaderDisplayField" helpText="{!$Label.apttus_approval__dependsonhelp}">
                    <apex:outputLabel for="idHeaderDisplayFields"
                                      value="{!'Header ' & $Label.apttus_approval__displayfield}" 
                                      style="font-weight: bold;"/>
                    <apex:selectList id="idHeaderDisplayFields" size="1"
                                     value="{!Apttus_Approval__Approval_Process__c.Apttus_Approval__StepDisplayFieldNameHeader__c}"
                                     disabled="true">
                        <apex:selectOptions value="{!headerDisplayFields}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <c:UIDisplayFieldNames rendered="{!(isStepTypeStandard || isStepTypeSubprocess)}"
                                       pageControllerAttr="{!this}"
                                       contextSOAttr="{!Apttus_Approval__Approval_Process__c}"
                                       contextSOFieldAttr="StepDisplayFieldNames__c"
                                       contextSOLabelAttr="{!businessObjectType}"
                                       isReadOnlyAttr="true"
                                       itemValuesAttr="{!displayFieldNameValues}" />

                <c:UIDisplayFieldNames rendered="{!isStepTypeChildProcess}"  
                                       pageControllerAttr="{!this}"
                                       contextSOAttr="{!Apttus_Approval__Approval_Process__c}"
                                       contextSOFieldAttr="StepDisplayFieldNames__c"
                                       contextSOLabelAttr="{!childObjectType}"
                                       isReadOnlyAttr="true"
                                       itemValuesAttr="{!displayFieldNameValues}" />
            </apex:pageBlockSection>
                                   
        </apex:pageBlock>
  
        <!-- Approval Step Entry Criteria -->
        <apex:pageBlock id="idStepFilterCriteriaBlock"
                        title="{!$Label.apttus_approval__approvalprocessstepfiltercriteria}"
                        rendered="{!IsViewMode && NOT(inSearchMode) && predicates.size > 0}">

            <apex:pageBlockSection columns="1" rendered="{!isReadOnly}">
                {!$Label.apttus_approval__approvalprocessstepfiltercriteriainst}
            </apex:pageBlockSection>
                
            <apex:pageBlockSection id="idStepFilterCriteriaSectionView" 
                                   title="{!$Label.apttus_approval__approvalprocessstepfiltercriteria}" 
                                   columns="2" 
                                   collapsible="false">
                                   
                <apex:pageBlockTable value="{!predicates}" 
                                     var="predicate" 
                                     columns="11" 
                                     rowClasses="oddRow,evenRow">

                    <!-- 1. rownum -->
                    <apex:column rendered="{!isAdvancedOptionsMode}" >
                        <apex:outputText id="idRowNum" value="{!predicate.RowNum}. " />
                    </apex:column>
                    
                    <!-- 2. LHS child search filter name -->
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputText >{!$Label.apttus_approval__lhs} {!$Label.apttus_approval__child}<br/>{!$Label.apttus_approval__filter}</apex:outputText>
                        </apex:facet>
                        <apex:outputPanel rendered="{!predicate.UseLHSChildFilter}"
                                          styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idLHSChildFilterName" size="1"
                                             value="{!predicate.LHSChildFilterName}"
                                             disabled="true">
                                <apex:selectOptions value="{!childSearchFilterItems}"></apex:selectOptions>
                                <apex:actionSupport event="onchange"
                                                    action="{!predicate.doLHSChildFilterNameChanged}"
                                                    reRender="idStepFilterCriteriaSectionEdit" 
                                                    status="idStatusWaitLHSChildFilterName" />
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>
                    
                    <!-- 3. LHS child object field -->
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputText >{!$Label.apttus_approval__lhs} {!$Label.apttus_approval__child}<br/> {!$Label.apttus_approval__filter} {!$Label.apttus_approval__field}</apex:outputText>
                        </apex:facet>
                        <apex:outputPanel rendered="{!predicate.UseLHSChildFilter}"
                                          styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idChildObjectField" size="1"
                                             value="{!predicate.FieldName}"
                                             disabled="true">
                                <apex:selectOptions value="{!predicate.LHSChildObjectFieldItems}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>
                    
                    <!-- 4. business object field -->
                    <apex:column headerValue="{!$Label.apttus_approval__field}">
                        <apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idBusObjectField"
                                             value="{!predicate.FieldName}"
                                             size="1"
                                             disabled="true">
                                <apex:selectOptions value="{!fieldItems}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>
                    
                    <!-- 5. operator -->
                    <apex:column headerValue="{!$Label.apttus_approval__operator}">
                        <apex:outputPanel styleClass="{!IF(predicate.CompOperInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idCompOper"
                                             value="{!predicate.CompOper}" 
                                             size="1"
                                             disabled="true">
                                <apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>

                    <!-- 6. RHS child search filter name -->
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputText >{!$Label.apttus_approval__rhs} {!$Label.apttus_approval__child}<br/>{!$Label.apttus_approval__filter}</apex:outputText>
                        </apex:facet>
                        <apex:outputPanel rendered="{!predicate.UseRHSChildFilter}"
                                          styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idRHSChildFilterName" size="1"
                                             value="{!predicate.RHSChildFilterName}"
                                             disabled="true">
                                <apex:selectOptions value="{!childSearchFilterItems}"></apex:selectOptions>
                                <apex:actionSupport event="onchange"
                                                    action="{!predicate.doRHSChildFilterNameChanged}"
                                                    reRender="idStepFilterCriteriaSectionEdit" 
                                                    status="idStatusWaitRHSChildFilterName" />
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>

                    <!-- 7. RHS child object value -->
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputText >{!$Label.apttus_approval__rhs} {!$Label.apttus_approval__child}<br/>{!$Label.apttus_approval__filter} {!$Label.apttus_approval__field}</apex:outputText>
                        </apex:facet>
                        <apex:outputPanel rendered="{!predicate.UseRHSChildFilter}"
                                          styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idRHSChildObjectField" size="1"
                                             value="{!predicate.FieldValue}" 
                                             disabled="true">
                                <apex:selectOptions value="{!predicate.RHSChildObjectFieldItems}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>

                    <!-- 8. business object value -->
                    <apex:column headerValue="{!$Label.apttus_approval__value}">
                        <apex:outputPanel styleClass="{!IF(predicate.FieldValueInError, 'errorRow', '')}"
                                          layout="block" >
                            <apex:outputText id="idFieldValue"
                                             value="{!predicate.FieldValue}" 
                                             rendered="{!NOT(predicate.UseCustomValue)}" />
                            <apex:outputText value="{!$Label.apttus_approval__notapplicable}" 
                                             style="width:60px" 
                                             rendered="{!predicate.UseCustomValue}" />
                        </apex:outputPanel>
                    </apex:column>
                    
                    <!-- 9. custom -->
                    <apex:column headerValue="{!$Label.apttus_approval__custom}">
                        <apex:outputPanel rendered="{!NOT(predicate.UseLHSChildFilter ||
                                                          predicate.UseRHSChildFilter)}">
                            <apex:inputCheckbox id="idUseCustomValue"
                                                value="{!predicate.UseCustomValue}"
                                                disabled="true">      
                            </apex:inputCheckbox>
                        </apex:outputPanel>
                    </apex:column>
                    
                    <!-- 10. custom value expression -->
                    <apex:column headerValue="{!$Label.apttus_approval__customvalueexpression}">
                        <apex:pageBlockTable value="{!dummyItems}" 
                                             var="dummyItem" 
                                             columns="4"
                                             rowClasses="oddRow,evenRow"
                                             rendered="{!predicate.UseCustomValue}">
                                     
                            <apex:column headerValue="{!$Label.apttus_approval__object}">
                                <apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                                    <apex:selectList id="idCustomValueObject"
                                                     value="{!predicate.customValueObject}"
                                                     size="1"
                                                     disabled="true">
                                        <apex:selectOptions value="{!predicate.customValueObjects}"></apex:selectOptions>
                                    </apex:selectList>
                                </apex:outputPanel>
                            </apex:column>
        
                            <apex:column headerValue="{!$Label.apttus_approval__field}">
                                <apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                                    <apex:selectList id="idFieldValueField"
                                                     value="{!predicate.customValueObjectField}"
                                                     size="1"
                                                     disabled="true">
                                        <apex:selectOptions value="{!predicate.customValueObjectFields}"></apex:selectOptions>
                                    </apex:selectList>
                                </apex:outputPanel>
                            </apex:column>
        
                            <apex:column headerValue="{!$Label.apttus_approval__filterexpression}" colspan="1" rowspan="3">
                                <apex:outputPanel >                            
                                    <apex:selectList id="idFilterExprField"
                                                     value="{!predicate.CustomValueObjectFilterField}"
                                                     size="1"
                                                     disabled="true" >
                                        <apex:selectOptions value="{!predicate.customValueObjectFields}"></apex:selectOptions>
                                    </apex:selectList>
                                    <br/>
                                    <apex:selectList id="idFilterExprCompOper"
                                                     value="{!predicate.CustomValueObjectFilterCompOper}"
                                                     size="1"
                                                     disabled="true">
                                        <apex:selectOptions value="{!customObjectCompOperItems}"></apex:selectOptions>
                                    </apex:selectList>
                                    <br/>
                                    <apex:selectList id="idFilterExprFieldValueBound"              
                                                     value="{!predicate.CustomValueObjectFilterValue}" 
                                                     rendered="{!predicate.BindCustomFilterValue}"
                                                     size="1"
                                                     disabled="true">
                                        <apex:selectOptions value="{!customObjectBindFieldItems}"></apex:selectOptions>
                                    </apex:selectList>
                                    <apex:outputText id="idFilterExprFieldValue"
                                                     value="{!predicate.CustomValueObjectFilterValue}" 
                                                     rendered="{!NOT(predicate.BindCustomFilterValue)}" />
                                </apex:outputPanel>
                            </apex:column>
        
                            <apex:column headerValue="{!$Label.apttus_approval__bindvalue}">
                                <apex:outputPanel >
                                    <apex:inputCheckbox id="idFilterExprBindCustomFilterValue"
                                                        value="{!predicate.BindCustomFilterValue}"
                                                        disabled="true">      
                                    </apex:inputCheckbox>
                                </apex:outputPanel>
                            </apex:column>
                            
                        </apex:pageBlockTable>
                    </apex:column>

                    <!-- 11. join/add -->
                    <apex:column rendered="{!NOT(isAdvancedOptionsMode)}">        
                        <apex:outputText id="idBoolOper" 
                                         value="{!predicate.BoolOper}" 
                                         rendered="{!NOT(isAdvancedOptionsMode) && NOT(ISBLANK(predicate.BoolOper))}" />
                    </apex:column>

                </apex:pageBlockTable>
            </apex:pageBlockSection>

            <!-- Advanced Options -->
            <apex:pageBlockSection id="idStepFilterCriteriaAdvancedOptionsView"
                                   columns="1"
                                   collapsible="false"
                                   rendered="{!isAdvancedOptionsMode}" >
                                   
                <apex:outputPanel rendered="{!isAdvancedOptionsMode}">
                    <br/>
                    <apex:outputText value="{!$Label.apttus_approval__advancedfiltercondition}" />
                    <br/>
                    <apex:outputText id="idAdvancedOptions" value="{!advancedOptions}" />
                </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:pageBlock>
            
    </apex:form>

</apex:page>