<!-- 
	/**
	 *	Apttus Approvals Management
	 *	ApprovalMatrixView
	 *	 
	 *	@2011 Apttus Inc. All rights reserved.
	 */
-->
<apex:page standardController="User"
		extensions="Apttus_Approval.ApprovalMatrixViewController" 
		action="{!doViewApprovalMatrix}">
		
    <apex:form >
    
        <apex:pageBlock title="{!$Label.apttus_approval__viewapprovalmatrix}">

            <apex:pageMessages />
            
            <apex:pageBlockButtons >
                <apex:outputPanel >
                    <apex:commandButton action="{!doReturn}" value="{!$Label.apttus_approval__return}" />
                </apex:outputPanel>
            </apex:pageBlockButtons>
            
		</apex:pageBlock>
            
    </apex:form>
    
</apex:page>