<!-- 
    Apttus Approvals Management
    ApprovalRequestsListSf1
     
    @2010-2014 Apttus Inc. All rights reserved.

-->
<apex:page standardController="Apttus_Approval__Approval_Request__c"
           extensions="Apttus_Approval.ApprovalRequestsListController"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           docType="html-5.0">
    
    <script type="text/javascript" src="/soap/ajax/30.0/connection.js"></script>
    <script type="text/javascript" src="/soap/ajax/30.0/apex.js"></script>
    
    <apex:include pageName="Apttus_Approval__ApprovalsJSLibInclude" />
    
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Approval__JQueryUILibrary, 'js/jquery-1.6.2.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Approval__JQueryUILibrary, 'js/jquery-ui-1.8.16.custom.min.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Approval__JQueryUILibrary, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}" />
    <apex:stylesheet value="{!$Resource.Apttus_Approval__ApprovalsGlobalCSS}" />
    <apex:stylesheet value="{!$Resource.Apttus_Approval__ApprovalsSf1CSS}" />

    <apex:outputText value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__Object_Type__c}" rendered="false" />
    <apex:outputText value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__Object_Id__c}" rendered="false" />
    
    <apex:pageBlock title="{!$Label.apttus_approval__approvals}">
        <apex:pageBlockTable value="{!approvalRequests}" var="ar">
        
            <apex:column value="{!ar.Apttus_Approval__Step_Name__c}" />
            <apex:column headerValue="{!$Label.apttus_approval__approvalstatus}">
                <apex:outputLink value="/{!ar.Id}">{!ar.Apttus_Approval__Approval_Status__c}
                </apex:outputLink>
            </apex:column>
            <apex:column value="{!ar.Apttus_Approval__Date__c}" />
            <apex:column headerValue="{!$Label.apttus_approval__assignedto}">
                <apex:outputLink rendered="{!ar.Apttus_Approval__Assigned_To_Type__c == 'Queue'}"
                    value="/p/own/Queue/d">{!ar.Apttus_Approval__Assigned_To_Name__c}
                    <apex:param name="id" value="{!ar.Apttus_Approval__Assigned_To_Id__c}" />
                    <apex:param name="setupid" value="Queues" />
                </apex:outputLink>
                <apex:outputLink rendered="{!ar.Apttus_Approval__Assigned_To_Type__c != 'Queue'}"
                    value="/{!ar.Apttus_Approval__Assigned_To_Id__c}">{!ar.Apttus_Approval__Assigned_To_Name__c}
                </apex:outputLink>
            </apex:column>
            <apex:column value="{!ar.Apttus_Approval__DependsOn__c}" />
            <apex:column value="{!ar.Apttus_Approval__Actual_Approver__c}" />            
            <apex:column value="{!ar.Apttus_Approval__Approver_Comments__c}" />
            
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>