<!-- 
    Apttus Approvals Management
    ApprovalRuleDimension
     
    @2010-2011 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Approval__ApprovalRuleDimension__c" 
	  	   extensions="Apttus_Approval.ApprovalRuleDimensionController" 
           showHeader="true" 
           sidebar="true" 
           tabStyle="Apttus_Approval__ApprovalRuleDimension__c">	
    
    <style>
		textarea {
			width: 40%;
		}
	</style>
	
	<apex:sectionHeader title="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Label & ' ' & $Label.apttus_approval__edit}" 
						subtitle="{!$Label.apttus_approval__new & ' ' & $ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Label}" 
						rendered="{!ISBLANK(Apttus_Approval__ApprovalRuleDimension__c.Id)}" />
						
	<apex:sectionHeader title="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Label & ' ' & $Label.apttus_approval__edit}" 
						subtitle="{!Apttus_Approval__ApprovalRuleDimension__c.Name}" 
						rendered="{!NOT(ISBLANK(Apttus_Approval__ApprovalRuleDimension__c.Id))}" />
	
	<apex:form id="idApprovalRuleDimensionSO">
		
		<!--  required fields -->
		<apex:outputText value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__DimensionType__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__BusinessObject__c}" rendered="false" />
		
		<apex:pageBlock id="idApprovalRuleDimensionBlock" 
						title="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Label & ' ' & $Label.apttus_approval__edit}" 
						mode="edit" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="both">
		        <apex:commandButton value="{!$Label.apttus_approval__save}" action="{!doSave}" />
		        <apex:commandButton value="{!$Label.apttus_approval__saveandnew}" action="{!doSaveAndNew}" />
		        <apex:commandButton value="{!$Label.apttus_approval__cancel}" action="{!doCancel}" immediate="true" />
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection id="idApprovalRuleDimensionSection" 
		    					   title="{!$Label.apttus_approval__information}" 
		    					   columns="1" 
		    					   collapsible="false" >
		    	
		    	<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Name.Label}" 
									  for="idName" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:inputField id="idName" 
  										 value="{!Apttus_Approval__ApprovalRuleDimension__c.Name}" 
  										 required="false" />
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!ISBLANK(Apttus_Approval__ApprovalRuleDimension__c.Id)}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Apttus_Approval__BusinessObject__c.Label}" 
									  for="idBusinessObject" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idBusinessObject" 
  										 value="{!businessObjectName}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!businessObjectItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" reRender="idApprovalRuleDimensionSection" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!NOT(ISBLANK(Apttus_Approval__ApprovalRuleDimension__c.Id))}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Apttus_Approval__BusinessObject__c.Label}" 
									  for="idBusinessObject2" />
					<apex:outputText id="idBusinessObject2" value="{!businessObjectLabel}" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Apttus_Approval__DimensionType__c.Label}" 
									  for="idDimensionType" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idDimensionType" 
  										 value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__DimensionType__c}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!dimensionTypeItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" reRender="idApprovalRuleDimensionSection" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!isFieldDimensionType}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Apttus_Approval__Datasource__c.Label}" 
									  for="idDatasource" />
					<apex:outputPanel styleClass="requiredInput" layout="block" >
   						<apex:outputPanel styleClass="requiredBlock" layout="block" />
  						<apex:selectList id="idDatasource" 
  										 value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__Datasource__c}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!fieldItems}"></apex:selectOptions>
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			
				<apex:pageBlockSectionItem rendered="{!isFormulaDimensionType}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Approval__ApprovalRuleDimension__c.Fields.Apttus_Approval__Datasource__c.Label}" 
									  for="idDatasource2" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:inputText id="idDatasource2" 
  										value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__Datasource__c}" 
  										size="75" />
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
		    	<apex:inputField value="{!Apttus_Approval__ApprovalRuleDimension__c.Apttus_Approval__Description__c}"/>
	
		    </apex:pageBlockSection>
		    
		</apex:pageBlock>
			    			   
	</apex:form>

</apex:page>